<%- include("../partials/header") %>

<section id="user">
  <div class="container mt-4">
    <div class="row">
      <div class="col-sm-12 col-md-4">
      <%- include("./userPartials/profile") %>
      <%- include("./userPartials/list") %>
      </div>
      <div class="col-sm-12 col-md-8">
        <div class="tab-content" id="nav-tabContent">
        <%- include("./userPartials/favorite") %>
        <%- include("./userPartials/review") %>
        <%- include("./userPartials/following") %>
        <%- include("./userPartials/followers") %>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include("../partials/footer") %>